# fly.toml app configuration file generated for bolik-api on 2023-07-26T13:38:38+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "bolik-api"
primary_region = "waw"
kill_signal = "SIGINT"
kill_timeout = "10s"

[experimental]
  auto_rollback = true

[env]
  PORT = "8080"
  SQLITE_PATH = "/litefs/timeline.db"

[[mounts]]
  source = "bolik_api_db_machines"
  destination = "/var/lib/bolik_api_db"
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 8080
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0
